*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

@font-face{
    font-family: roboto-thin;
    src: url(../fonts/Roboto-Thin.ttf)
}

@font-face{
    font-family: raleway;
    src: url(../fonts/Raleway-Light.ttf)
}

@font-face{
    font-family: mont;
    src: url(../fonts/mont.otf)
}

@font-face{
    font-family: nino;
    src: url(../fonts/nino.ttf)
}

@font-face{
    font-family: arial;
    src: url(../fonts/alr.ttf)
}

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('vendor/default-font.min.css?family=Default:300,400,600,700,800,900');

header .leverage{
    font-family: DefaultB;
    font-size: 1.5rem;
    color: white !important;
    text-decoration: none !important;
}

header{
    padding: 18px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    background-color: black;
    font-family: DefaultB;
}

nav {
    opacity: 0;
    animation: header 0.45s ease-in-out 1.2s forwards;
    background-color: black !important;
}

.ver{
    font-size: 12px;
    margin: 0 5px;
    color: #fc5130;
}

.navbar-collapse{
    justify-content: end;
}

.container-fluid{
    padding: 0 !important;
}

.nav-item{
    font-family: DefaultB;
}

.nav-link{
    color: white !important;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 0 10px;
}

.nav-link i{
    color: white;
    margin: 0px 5px;
}

.flex{
    display: flex;
}

.ic{
    padding: 10px 10px !important;
}

.ic{
    color: white !important;
    text-decoration: none !important;
    font-family: roboto-thin;
    font-weight: bolder;
}

.ic i{
    margin: 0px 5px;
}

.ic_2{
    font-size: 1.2rem;
    padding: 2px !important;
    display: block;
    background: linear-gradient(to right, #E0040B, #fc5130 );
}

.geel{
    margin-left: 15px;
}

.gel{
    padding: 8px 18px;
    background-color: black;
    transition: all 0.1s ease;
}

.ic_2:hover .gel{
    background-color: transparent;
}

@keyframes header {
    from {
        transform: scaleX(110%);
        opacity: 0%;
    }
    to {
        transform: scaleX(100%);
        opacity:100%;
    }
    
}

.well h1{
    font-family: sans-serif;
    font-size: 6rem;
    font-weight: 900;
}

.well .left{
    width: 50%;
    align-self: center !important;
    position: relative;
    background-color: black;
}

.well .left h1{
    background: linear-gradient(to right, #E0040B, #fc5130 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--h1-font);
    overflow:visible;
    z-index: 9;
    opacity: 0;
    animation: scaledown 0.45s ease-in-out forwards;
    font-weight: 900 !important;
    
}

.well {
    background-color: black;
}

.well .flex{
    display: flex;
    align-items:center;
    height: 100vh;
    position: relative
}

.well .flex p{
    color: #8e8e8e;
    font-size: 1.2rem;
    width: 70%;
    margin: 1.5rem 0;
    z-index: 9;
    animation: scaledown 0.45s ease-in-out 1s forwards;
    opacity: 0;
}

.aaaa{
    display: inline-block;
    margin-top: 25px;
    animation: scaledown 0.45s ease-in-out 1.4s forwards;
    opacity: 0;
}

.square{
    padding: 210px;
    background: linear-gradient(to right, #E0040B, #fc5130 );
    position: absolute;
    opacity: 0;
    top: -10px;
    right: -20px;
    z-index: 0;
    clip-path: polygon(50% 1%, 99% 1%, 99% 99%, 1% 99%, 1% 83%, 0 83%, 0% 100%, 100% 100%, 100% 0%, 50% 0);
    animation: square 0.45s ease-in-out 0.75s forwards;
}

.right{
    max-height: 80vh;
    display: inline-block;
}

.well .image{
    position: absolute;
    right: 0;
    bottom: 0;
}

.image img{
    animation: scaledown_2 0.45s ease-in-out 0.6s forwards;
    opacity: 0;
}

@keyframes scaledown {
    from {
        
        transform: scale(130%) translateY(100px) translateX(-100px);
        opacity: 0;
    }
    to {
        transform: scale(100%) translateY(0px) translateX(0px);
        opacity: 100%;
    }
}

@keyframes scaledown_2 {
    from {
        
        transform: scale(130%) translateY(100px) translateX(-50px);
        opacity: 0;
    }
    to {
        transform: scale(100%) translateY(0px) translateX(0px);
        opacity: 100%;
    }
}



@keyframes square {
    from {
        opacity: 0; 
        transform: rotate(335deg) scale(110%);
    }
    to {
        transform: scale(100%);
        opacity: 100%;
        transform: rotate(348deg) scale(100%);
    }
}

:root{
    --h1-font: "DefaultB";
}

@font-face {
    font-family: DefaultB;
    src: url(../fonts/Default-Extrabold.ttf);
}

.about{
    padding: 130px 0;
    background-color: #111111;
}

.divider{
    padding: 2.5px;
    width: 50px;
    background: linear-gradient(to right, #E0040B, #fc5130 );
}

.about h1{
    color: white;
    font-family: var(--h1-font);
    font-size: 3rem;
    margin-top: 15px;
}

.about p{
    color: #8e8e8e;
    font-size: 1.2rem;
    margin: 1.5rem 0;
}

.image-2nd img{
    width: 115px;
}

.about h3{
    color: white;
    font-family: DefaultB;
    font-size: 1.7rem;
    margin-top: 15px;
}

.team_img{
    width: 90%;
    align-self: center;
    border-radius: 5px;
}

.tm{
    padding: 25px;
}

.stuff{
    margin: 45px 0;
}

#version-2{
    background-color: #191919;
}

#ned{
    padding: 25px 0px 25px 25px;
    display: flex;
    justify-content: right;
}

#nod{
    padding: 25px 25px 25px 0;
    display: flex;
    justify-content: left;
}

#header{
    padding: 0 !important;
}


.facts{
    padding: 130px 0;
    background-color: black;
    text-align: center;
    position: relative;
}

h1{
    color: white;
    font-family: var(--h1-font);
    font-size: 3rem;
    margin-top: 15px;
}

p{
    color: #8e8e8e;
    font-size: 1.2rem;
    margin: 1.5rem 0;
}

.facts p{
    width: 65%;
    margin: 20px auto;
}

.facts .number{
    background-image: linear-gradient(45deg, #E0040B 15%, #fc5130 65%);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: DefaultB;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-family: DefaultB;
    font-weight: 700;
}

.facts h3{
    font-size: 1.3rem;
    font-family: DefaultB;
    font-weight: 700;
    color: white;
}

.facts .row{
    margin-top: 110px !important;
    animation: facts 0.3s ease-out;
}

.facts .row::after{
    content:'';
    width: 5px;
    height: 100px;
    background-image: linear-gradient(45deg, #E0040B 15%, #fc5130 65%);
    display: inline-block;
    position: absolute;
    bottom: -50px;
    left: 50%;
    z-index: 1;
}

@keyframes facts {
    from {
        transform: translateY(75px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}

.services{
    padding: 130px 0;
    background-color: #191919;
    z-index: 0;
}

.text-button{
    display: flex;
}

.text-button p{
    align-self: flex-start;
}

.view_all{
    color: white !important;
    text-decoration: none !important;
    background-color: #fc5130;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 3px;
}

.vw_all{
    justify-content: right;
    align-items: center;
    display: flex;
}

.services .flex div{
    width: 100%;
}

.services .flex div a i{
    margin-right: 10px;
}

.services .col-md-4{
    padding: 15px !important;
    transition: all 0.7s ease;
}

.services .row{
    margin-top: 55px;
}

.card-2{
    background-color: #212121;
    padding: 35px;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

.flexy{
    position: relative;
}

.card-2 i{
    display: block;
    font-size: 48px;
    margin: 15px;
    color: #fc5130;
}

h4{
    font-family: DefaultB;
    font-size: 24px;
}

.card-2 a i{
    color: #8e8e8e;
    font-size: 1.5rem;
}

.card-2 a{
    text-decoration: none !important;
}

.card-back{
    padding: 35px;
    background-image: linear-gradient(45deg, #E0040B 15%, #fc5130 65%);
    position: absolute;
    top:-10px;
    left: -10px;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 50%;
    height: 50%;
    background-blend-mode: overlay;
    background-color: #11111100;
    transition: background-color 0.3s ease;
}


.services .col-md-4:hover .card-2{
    color: white !important;
    background-image: linear-gradient(45deg, #E0040B 15%, #fc5130 65%);
}

.services .col-md-4:hover  p, h3{
    color: white;
}

.services .col-md-4:hover i{
    color: white !important;
}

.services .col-md-4:hover .card-back{
    background-color: rgba(0, 0, 0, 0.377);
    background-blend-mode: overlay;
    width: 100%;
    height: 100%;
}

.services .col-md-4:hover .card_2nd{
    background-color: rgba(0, 0, 0, 0.377);
    background-blend-mode: overlay;
    width: 100%;
    height: 100%;
}

.services .col-md-4:hover {
    transform: translateY(-25px);
}

.services p{
    font-size: 1.1rem;
}

.second-row{
    margin-top: 0px !important;
}

.card_2nd{
    padding: 35px;
    background-image: linear-gradient(45deg, #E0040B 15%, #fc5130 65%);
    position: absolute;
    right: -10px;
    bottom: -10px;
    z-index: 0;
    width: 50%;
    height: 50%;
    background-blend-mode: overlay;
    background-color: #11111100;
    transition: background-color 0.3s ease;
}

.vertical-line{
    content:'';
    width: 5px;
    height: 100px;
    background-image: linear-gradient(45deg, #E0040B 15%, #fc5130 65%);
    display: inline-block;
    position: absolute;
    bottom: -50px;
    left: 50%;
}

.services{
    position: relative;
}

.news{
    padding: 130px 0;
    background-color: #111111;
    z-index: 0;
}
.news .flex div{
    width: 100%;
}

.news .flex div a i{
    margin-right: 10px;
}

.account p{
    color: white;
    display: inline-block;
}

.newsitem{
    text-align: center;
    color: white;
}

.account i{
    margin: 0 10px;
}

.newsitem{
    padding: 0 35px;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}

.line{
    height: 1px;
    background-color: rgba(255, 255, 255, 0.547);
}

.newsimage img{
    max-width: 100%;
    transition: all 0.4s ease;
}

.newsimage{
    position: relative;
    overflow: hidden;
}

.news .col-md-4{
    position: relative;
    padding: 15px;
    transition: all 1s ease;
}

.filter {
    background-color: rgba(0, 0, 0, 0.416);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.newsitem h4{
    margin-bottom: 15px;
}

.news .row{
    margin-top: 45px;
}

.news .col-md-4:hover{
    transform: translateY(-30px);
}

.news .col-md-4:hover .newsimage img{
    filter: blur(3px);
}

.news .col-md-4:hover .newsimage .filter{
    background-color: #ff341d9e;
}

.newsletter{
    text-align: center;
    background-color: black;
    padding: 130px 0;
    
}

.newsletter form .form_input{
    padding: 15px;
    display: block;
    width: 100%;
    border-radius: 3px;
    background-color: black;
    color: #8e8e8e;
    border: #444444 solid 1px !important;
    font-family: Poppins;
}

.newsletter button{
    display: block;
    padding: 15px 30px;
    border: 0 !important;
    background-color: #fc5130;
    color: white;
    border-radius: 3px;
    font-family: Poppins;
}

.newsletter .flex form{
    display: flex;
    width: 100%;
}

.f_input{
    width: 100%;
    padding: 15px;
}

.button{
    padding: 15px;
    display: flex;
    align-items: center;
}

.form_input:focus{
    outline: none !important;
}

.newsletter .container{
    max-width: 970px;
}

.talk{
    padding: 130px 0;
    background-color: #111111;
}

.bar{
    margin-top: 75px;
    height: 6px;
    background-color: #191919;
    position: relative;
}

.fill{
    background-image: linear-gradient(45deg, #E0040B 15%, #fc5130 65%);
    height: 100%;
    width: 14%;
}

.circle{
    background-image: linear-gradient(45deg, #E0040B 15%, #fc5130 65%);
    display: flex;
    height: 43px;
    width: 43px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
}

.circle h4{
    margin-bottom: 0 !important;
}

.curcl h6{
    color: white;
    font-size: 1.1rem;
    font-family: DefaultB;
    margin-top: 15px;
}

.curcl{
    text-align: center;
    display: block;
    width: 100%;
    transform: translateY(-22px);
}

.other{
    color: white !important;
    background-color: #191919 !important;
    background-image: none !important;
}

#second{
   width: 100%;
   display: block;
}

#third{
   width: 100%;
   display: block;
}

.talk form .form_input{
    padding: 15px;
    display: block;
    width: 100%;
    border-radius: 3px;
    background-color: #111111;
    border: #444444 solid 1px !important;
    font-family: Poppins;
    color: #8e8e8e;
    margin: 20px 0;
}

.talk form{
    margin-top: 110px;
}

.talk form button{
    border: 0;
    border-radius: 3px;
    background-color: #fc5130;
    color: white !important;
    padding: 10px 30px;
}

.talk row{
    position: relative;
}

.talk form button i{
    margin-left: 10px;
}

.talk .pad img{
    border-radius: 3px;
    max-width: 100%;
}

.talk .pad{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

footer{
    background-color: #191919;
    padding: 130px 0;
}

footer .row div h2{
    font-family: DefaultB;
    color: white;
}

footer .row div h4{
    font-family: DefaultB;
    color: white;
}

.list-inline li{
    
    display: inline-block;
    margin: 0 23px 0 0;
}

.list-inline a{
    color: rgba(255, 255, 255, 0) !important;
    font-size: 24px;
}

.list-inline a i{
    background-image: linear-gradient(45deg, #E0040B 15%, #fc5130 65%);
    -webkit-background-clip: text;
    background-clip: text;
}

.info a{
    color: #8e8e8e !important;
    text-decoration: none !important;
    transition: all 0.2s ease-in-out;
}

.info{
    padding: 0;
    margin-top: 2rem;
}

.info li{
    margin-bottom: 20px;
}

.geol i{
    margin-right: 15px !important;
}

.geol{
    background-color: #191919 !important;
    transition: all 0.3s ease;
}

.ic_4{
    display: inline-block !important;
}

.geol:hover{
    background-color: transparent !important;
}

.tags{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.tag{
    padding: 7px 14px;
    color: #8e8e8e !important;
    text-decoration: none !important;
    font-family: Poppins;
    border: #8e8e8e 1px solid;
    border-radius: 3px;
    margin: 0 10px 10px 0;
    display: block;
    transition: all 0.2s ease-in-out;
}

.tag:hover{
    color: #fc5130 !important;
    border: #fc5130  1px solid;
}

.hvr:hover{
    color: #fc5130 !important;
}

@media screen and (max-width: 992px) {
   .curcl h6{
    display: none;
   }
   .talk .pad img{
    margin: 20px 0;
   }
   .well .square{
    display: none;
   }
   .well {
    font-size: 72px;
   }
   .well .left{
    width: 100%;
    text-align: center;
    background-color: transparent;
   }
   .well .flex p{
    margin: 1.5rem auto; 
   }
   .well img{
    display: none;
   }
   #ned{
    justify-content: center;
    padding: 20px;
   }
   #nod{
    justify-content: center;
    padding: 20px;
   }
   .facts p{
    width: 100%;
   }
   .newsletter .flex form{
    display: block;
   }
   footer .col-md-3{
    margin: 15px 0;
   }
   #girl{
    background-image: url(../images/hero-4.jpg);
    background-color: rgba(0, 0, 0, 0.621);
    background-blend-mode: overlay;
   }
   #man{
    background-image: url(../images/hero-5.jpg);
    background-color: rgba(0, 0, 0, 0.621);
    background-blend-mode: overlay;
   }
   #ball{
    background-image: url(../images/hero-6.jpg);
    background-color: rgba(0, 0, 0, 0.621);
    background-blend-mode: overlay;
   }
   .left h1{
    font-size: 5rem;
   }
}

.pages{
    display: inline-block;
    position: relative;
}

.pag{
    display: none;
}

.pages:hover .pag{
    display: inline-block;
    animation: oppa 0.3s ease forwards;
}

.pags i{
    margin-left: 10px;
    vertical-align: middle;
}

.pag{
    background-color: #111111;
    font-family: Poppins;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 3px;
    border: 1px #191919 solid;
}

.pag .nav-link{
    margin: 0 !important;
}

.pag a:hover{
    background-color: #212121;
}

@keyframes oppa {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

